/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
:root {
  /* --gutter: 12px; */
  --h_bar: 70px;
}
/*************************************************
    RESET
 *************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/
/* LAYOUT */
/* .container {
  margin: 0 auto;
  max-width: calc(1000px + var(--gutter));
  padding: var(--gutter);
} */

.row {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* .col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: calc(100% / 3);
}
.col-8 {
  width: calc((100% / 3) * 2);
} */

.gap-30 {
  gap: 30px;
}

.marginX-center {
  margin: 0 auto;
}

/* TEXT */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bt-style1 {
  margin: 0 15px;
  font-size: 26px;
  border: 0;
  background-color: transparent;
  color: #b1b1b1;
}

/* COMPONENTS */
/* buttons */

/*************************************************
    GENERAL STYLES
 *************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
  );
  height: 100vh;
  padding: 31px 0;
}
.app {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
/* ASIDE */
aside {
  display: none;
}
.head {
  height: var(--h_bar);
  flex-shrink: 0;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 20px;
}
.head-side-bt {
  margin-left: auto;
  display: none;
}

.info-msg-box {
  flex-shrink: 0;
  background-color: #a6d7f9;
  display: none;
}

.info-icon{
  aspect-ratio: 1/1;
  font-size: 26px;
  background-color: white;
  border-radius: 50%;
  color: #a6d7f9;
  width: 50px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}
.info-msg{
  display: inline-block;
}
.info-msg p:first-child{
  font-weight: bold;
}

.info-msg p:last-child{
  font-size: 0.9em;
  color: gray;
  text-decoration: underline;
}

.contact {
  flex-grow: 1;
  background-color: #fafafa;
}

/* MAIN */
main {
  flex-grow: 1;
  background-color: #d2dbdc;
}
.message-box {
  flex-grow: 1;
  background-color: #fafafa;
}
.new-message {
  height: var(--h_bar);
  flex-shrink: 0;
  background-color: #F3EEEB;
}

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
  /* ASIDE */
  aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  main .head-side-bt {
    display: initial;  
  }

  /* MAIN */
}
/* breakpoints Large*/
@media (min-width: 992px) {
  /* ASIDE */
  aside {
    width: 370px;
  }
  aside .head-side-bt {
    display: initial;
  }
  .info-msg-box{
    display: initial;
  }

  /* MAIN */
}

/*************************************************
    DEBUG
 *************************************************/
.debug :is(aside, main) {
  border: 2px solid rgb(0, 250, 0);
}

.debug .container {
  border: 1px dashed rgba(250, 0, 0, 0.3);
  padding: 10px;
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.debug [class^="col-"] {
  background-color: #daa52062;
  padding: 10px;
  min-height: 10px;
}
